/* Resetting default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
  background-image: url("x.jpg");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

/* Applying styles to the container */
.portfolio-container {
 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling portfolio entries */
.portfolio-entry {
  
  
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Paragraphs */
p {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Image styling */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Download button */
.download-resume {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-resume:hover {
  background-color: #357a38;
}
